aside {
  overflow-y: auto;
  overflow-x: hidden;
  background: #2A2D34;
  border-right: 2px solid #3c3e41;
  height: 100vh;
}
aside h2 {
  color: #2598d5;
  text-align: center;
}
aside h3 {
  padding: 3vh;
  color: #949599;
  text-align: left;
  margin: 0;
}

.title {
  padding: 3vh;
  margin: 0;
  height: 15vh;
  text-align: center;
  color: white;
}
.title_box {
  margin: 0;
  height: 16.3vh;
  text-align: center;
  background-color: #1B7AA0;
  color: white;
}

.btm-border {
  border-bottom: 2px solid #3c3e41;
}

.btn-primary {
  background-color: #1B7AA0;
}

.space {
  padding-bottom: 5vh;
}

.no-padding {
    padding: 0;
}

.hori-nav {
    background-color: #2A2D34;
    border-color: #3c3e41;
}

.navbar {
    border: 2px solid #3c3e41;
    margin-bottom: 0;
    border-radius: 0;
}
