{% load compress %}
{% load staticfiles %}

{% compress js %}
<div class="javascript">

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-dialog/js/ngDialog.js' %}"></script>

<script type="text/javascript" src="{% static 'js/messaging.js' %}"></script>
<script type="text/javascript" src="{% static 'js/messaging.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/messaging.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'js/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/login.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'js/conversations/conversations.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/conversations/directives/conversations.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/conversations/directives/conversation.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/conversations/services/conversations.services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/conversations/controllers/conversations.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/conversations/controllers/new-conversation.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'js/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/controllers/index.controller.js' %}"></script>

</div>
{% endcompress %}
